<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Vendas</title>
    <link rel="stylesheet" href="estilo.css" /> 
    <script src="vendas-servicejs/listarFetch.js" type="module" defer></script>
    <script src="vendas-servicejs/inserirFetch.js" type="module" defer></script>
</head>
<body>
    <nav>
        <ul class="menu">
            <li><a href="index.html">Home</a></li>
        </ul>
    </nav>
    <main>
        <h2 class="titulo">Lista de Vendas</h2>
        <hr/>
        <div id="erro">
            <span id="msgErro" class="msgErro"></span> <!--Exibição em vermelho-->
            <span id="msgSucesso" class="msgSucesso"></span> <!--Exibição em azul-->
        </div> 
        <button id="btnInserirVenda">Inserir nova venda</button>
        <!-- O dialog é nosso modal -->
        <dialog id="modalDialog" class="meuModal">
            <div id="divFormModal">
                <h2>Meu Formulário</h2>
                <hr>
                <form id="modalFormInserir" action="">
                    
                </form>
                <hr>
            </div>
            <input type="button" id="btnFecharModal" value="Fechar">
        </dialog>
        <table id="tblVendas">
        <thead>
            <tr><th>ID</th><th>CLIENTE</th><th>VALOR</th><th>QUADRIMESTRE</th><th>AÇÕES</th></tr>
        </thead>
        <tbody>    
            <!-- Aqui a tabela vai ser renderizada -->
        </tbody>
        </table>
        <br/>
    </main>
    <footer>
        <hr/>
        Todos os direitos reservados
    </footer>
</body>
</html>